@font-face {
  font-family: "roboto-heavy";
  src: url("../font/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-light";
  src: url("../font/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-thin";
  src: url("../font/Roboto-Thin.ttf") format("truetype");
}
body {
  margin: 0;
}
body nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
body nav > p {
  background-color: #EBEBEB;
  padding: 10px;
  margin: 0;
  font-family: "roboto";
  cursor: pointer;
}
body #main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
body #main .row {
  display: flex;
}
body #main .row .cell {
  background-color: #EBEBEB;
  margin: 2px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
body #main .row .cell.selected {
  background-color: #9B9B9B;
}
body #main .row .cell div {
  width: 0;
  height: 0;
  position: relative;
  z-index: 1;
}
body #main .row .cell div .tab {
  background-color: black;
  border-radius: 90px;
  border: white solid 4px;
  position: relative;
  top: -29px;
  left: -29px;
}

/*# sourceMappingURL=main.css.map */
